.buy-all {
  position: relative;

  @media (min-width: $medium-width) {
    display: flex;
    justify-content: space-between;
    min-width: 707px;
  }

  @media (min-width: $large-width) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 290px;
    background-image: url("../img/catalog/cat-buy-all.png");
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;

    @media (min-width: $medium-width) {
      height: 200px;
      background-position-y: -320px;
    }

    @media (min-width: $large-width) {
      height: 289px;
      background-position-y: 0;
      background-position-x: -33px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;

    @media (min-width: $medium-width) {
      height: 200px;
    }

    @media (min-width: $large-width) {
      height: 289px;
    }
  }

  @media (min-width: $large-width) {
    min-width: 245px;
  }
}

.buy-all__image {
  padding: 59px 101px 48px;
  display: block;

  @media (min-width: $medium-width) {
    padding: 59px 79px 48px;
  }

  @media (min-width: $large-width) {
    padding: 57px 12px 32px 85px;
  }
}

.buy-all__text {
  margin: 0;
  padding: 0 58px 43px 61px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $white-color;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding: 72px 125px 41px 1px;
    width: 161px;
    box-sizing: content-box;
    text-align: start;
  }

  @media (min-width: $large-width) {
    padding: 15px 41px 32px;
    text-align: center;
  }
}
