.checkbox {
  padding-bottom: 23px;

  @media (min-width: $medium-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 48px;
  }
}

.checkbox__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black-color;
  letter-spacing: -0.04em;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -6.5vw;
    width: 100vw;
    z-index: -1;
    height: 2px;
    background-color: $green-btn;
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -20px;
    width: 20px;
    height: 5px;
    background-color: $white-color;
  }

  @media (min-width: $medium-width) {
    padding-bottom: 63px;
    font-size: 36px;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -9.5vw;
      width: 100vw;
      z-index: -1;
      height: 3px;
      background-color: $green-btn;
    }

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      left: -37px;
      width: 37px;
      height: 5px;
      background-color: $white-color;
    }
  }

  @media (min-width: $large-width) {
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -8vw;
      width: 100vw;
      z-index: -1;
      height: 3px;
      background-color: $green-btn;
    }
  }
}

.checkbox__title-text {
  background-color: $white-color;
  padding-right: 26px;

  @media (min-width: 400px) {
    width: auto;
  }

  @media (min-width: $medium-width) {
    padding-right: 38px;
  }
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 59px;
  }

  @media (min-width: $large-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 78px;
  }
}

.checkbox__item {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}

.checkbox__control {
  position: relative;
  display: block;
  padding-left: 46px;
  font-size: 16px;

  &:disabled + .checkbox__control-mark,
  &:disabled ~ .checkbox__control-add {
    opacity: 0.3;
  }
}

.checkbox__control-input {
  &[type="checkbox"]:checked + .checkbox__control-mark::before {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 18px;
    height: 14px;
    background: no-repeat url("../img/form/checkbox.svg");
    content: "";

    @media (min-width: $medium-width) {
      top: 12px;
      left: 12px;
      width: 30px;
      height: 40px;
    }
  }
}

.checkbox__control-mark {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $light-border;

  @media (min-width: $medium-width) {
    top: -5px;
    left: -1px;
    width: 40px;
    height: 40px;
  }
}

.checkbox__control-input:hover + .checkbox__control-mark {
  border-color: $light-hover-border;
}

.checkbox__control-add {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: $grey-text;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding-left: 14px;
    font-size: 20px;
    line-height: 30px;
  }
}
