.collaboration {
  display: flex;
  gap: 13px;
  padding: 26px 0;

  @media (min-width: 372px) {
    justify-content: space-between;
  }

  @media (min-width: $medium-width) {
    justify-content: center;
    gap: 277px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
  }

  @media (min-width: $large-width) {
    position: absolute;
    width: 421px;
    gap: 70px;
    padding: 59px 66px 60px 80px;
    bottom: 252px;
    left: 109px;
    background-color: $white-color;
  }
}

.collaboration__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: -0.03em;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 26px;
    width: 180px;
  }
}

.collaboration__address {
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    align-items: flex-end;
    justify-content: space-between;
    width: 170px;
  }

  @media (min-width: $large-width) {
    align-items: flex-start;
  }
}

.collaboration__address-street {
  margin: 0;
  margin-right: -13px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-text;

  @media (min-width: $medium-width) {
    margin-top: -3px;
    margin-right: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $large-width) {
    text-align: start;
  }
}

.collaboration__address-city {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-text;

  @media (min-width: $medium-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
