.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $medium-width) {
    min-width: $medium-width;
  }

  @media (min-width: $large-width) {
    min-width: $large-width;
  }
}

.container-content {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    width: $medium-width - 60px;
  }

  @media (min-width: $large-width) {
    width: $large-width - 220px;
  }
}

.container-content--respons {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $medium-width) {
    width: 92.2%;
  }

  @media (min-width: $large-width) {
    width: 84.7%;
  }
}

.container--example {
  background-color: $grey-line;
  position: relative;

  @media (min-width: $medium-width) {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 619px;
      background-color: $white-color;
      z-index: 0;

      @media (min-width: $large-width) {
        height: 142px;
      }
    }
  }
}

.container-content--header {
  @media (min-width: $medium-width) {
    width: $medium-width - 60px;
    margin: 0 auto;
  }

  @media (min-width: $large-width) {
    width: 84.7%;
  }
}
