.copyright {
  padding: 15px 0;

  @media (min-width: $medium-width) {
    width: 165px;
    padding: 58px 0 0;
  }

  @media (min-width: $large-width) {
    padding: 59px 0 20px;
  }
}

.copyright__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
  text-decoration: none;

  &:hover .copyright__icon path {
    fill: $green-btn;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon path {
    fill: $green-btn;
  }
}
