.features {
}

.features__title {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black-color;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item {
}

.features__text {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-left: 80px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
