.features {
  counter-reset: section;
}

.features__title {
  margin: 0;
  padding: 0;
  padding-bottom: 41px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: $black-color;

  @media (min-width: $medium-width) {
    padding-bottom: 74px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 107px 56px;
    padding-bottom: 50px;
  }

  @media (min-width: $large-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 94px 78px;
    padding-bottom: 29px;
  }
}

.features__item {
  position: relative;
  padding-bottom: 25px;

  @media (min-width: 372px) {
    padding-bottom: 40px;
  }

  @media (min-width: 658px) {
    padding-bottom: 70px;
  }

  &:last-child {
    padding-bottom: 34px;

    @media (min-width: 372px) {
      padding-bottom: 50px;
    }

    @media (min-width: 658px) {
      padding-bottom: 90px;
    }
  }

  @media (min-width: $medium-width) {
    &::after {
      counter-increment: section;
      content: counters(section, "1");
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      color: $loadmore-btn;
      text-align: center;
      margin: 5px 10px;
      top: -46px;
      left: 101px;
      z-index: -1;
    }

    &:first-child::after {
      left: 109px;
    }
  }
}

.features__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;

  @media (min-width: $medium-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 109px;
    padding-left: 0;
  }
}

.features__text-leaf {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 1px;
    width: 60px;
    height: 60px;
    background: $green-btn no-repeat 50% 50% url("../img/features/leaf.svg");

    @media (min-width: $medium-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.features__text-boil {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 1px;
    width: 60px;
    height: 60px;
    background: $green-btn no-repeat 50% 50% url("../img/features/boil.svg");

    @media (min-width: $medium-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.features__text-cutlery {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 1px;
    width: 60px;
    height: 60px;
    background: $green-btn no-repeat 50% 50% url("../img/features/cutlery.svg");

    @media (min-width: $medium-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.features__text-alarm {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 1px;
    width: 60px;
    height: 60px;
    background: $green-btn no-repeat 50% 50% url("../img/features/alarm.svg");

    @media (min-width: $medium-width) {
      width: 80px;
      height: 80px;
    }
  }
}
