.form {
  @media (min-width: $large-width) {
    padding-top: 187px;
  }
}

.form__from-wrapper {
  @media (min-width: $large-width) {
    display: flex;
    gap: 78px;
  }
}

.form__title {
  margin: 0;
  margin-left: -20px;
  padding: 27px 0 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: $black-color;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding-top: 0;
    padding-bottom: 54px;
    margin-left: 38px;
    font-size: 60px;
    text-align: start;
  }

  @media (min-width: $large-width) {
    margin-left: 0;
  }
}

.form__text {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: $black-color;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding-right: 275px;
    padding-bottom: 66px;
    margin-left: 38px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $large-width) {
    box-sizing: content-box;
    margin-left: 0;
    width: 325px;
  }
}

.form__form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $medium-width) {
    width: 89%;
  }

  @media (min-width: $large-width) {
    width: 100%;
  }
}

.form__form-field {
  margin: 0;
  padding: 0;
  border: none;
}

.form-field {
  padding-bottom: 27px;

  @media (min-width: $medium-width) {
    padding-bottom: 71px;
  }

  @media (min-width: $large-width) {
    min-width: 569px;
    padding-bottom: 0;
  }
}

.form-field__item {
  display: flex;
  gap: 19px;
}

.form-field__label {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding-top: 5px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__wrapper {
  padding-bottom: 13px;
  flex-grow: 1;

  @media (min-width: $medium-width) {
    padding-bottom: 20px;
  }
}

.form-field__field-text {
  position: relative;
  height: 46px;
  width: 100%;
  padding-left: 11px;
  border: 1px solid $grey-line;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: none;

  &::placeholder {
    color: $grey-text;
    opacity: 1;
  }

  &:hover {
    border-color: $light-border;
  }

  &:focus {
    outline: none;
    border: 2px solid $grey-text;
  }

  @media (min-width: $medium-width) {
    height: 53px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__field-text::-webkit-outer-spin-button,
.form-field__field-text::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-field__field-text {
  -moz-appearance: textfield;
}

.form-field__field-text--error {
  border: 2px solid $error;
}

.form-field__field-text--name {
  // sometext
}

.form-field__field-text--weight {
  // sometext
}

.form-field__field-text--age {
  // sometext
}

.form__check {
  // sometext
}

.form__wrapper {
  @media (min-width: $medium-width) {
    display: flex;
  }
}

.form__button {
  border: none;
  cursor: pointer;
  padding: 7px 0;
  width: 100%;

  @media (min-width: $medium-width) {
    width: 282px;
    height: 52px;
  }

  @media (min-width: $large-width) {
    width: 568px;
  }
}

.form__button-text {
  // sometext
}

.form__remark {
  margin: 0;
  padding: 18px 61px 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $black-color;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding: 15px 64px 92px;
    font-size: 16px;
  }

  @media (min-width: $large-width) {
    padding: 15px 83px 101px;
  }
}
