.form-email-phone {
  padding-bottom: 24px;
}

.form-email-phone__title {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black-color;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form-email-phone__item {
  padding-bottom: 14px;
}

.form-email-phone__label {
  margin: 0;
  padding: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-text;
  text-transform: uppercase;
  box-sizing: border-box;
}

.form-email-phone__wrapper {
}

.form-email-phone__field-text {
}

.form-email-phone__field-text--email {
}

.form-email-phone__field-text--phone {
}
