.main-footer {
  @media (min-width: $large-width) {
    position: relative;
  }
}

.main-footer__wrapper {
  background-color: $loadmore-btn;
}

.main-footer__wrapper-content {
  @media (min-width: $medium-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__link {
  display: block;
  padding: 39px 56px 32px;
  text-align: center;
  transition: all 0.3s ease 0s;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $medium-width) {
    padding: 64px 0 55px;
  }

  @media (min-width: $large-width) {
    padding: 63px 0 55px;
  }
}

.main-footer__inner-pages {
  background-color: $loadmore-btn;
}
