.main-footer {
  // sometext
}

.main-footer__wrapper {
  background-color: #f2f2f2;
}

.main-footer__wrapper-content {
  @media (min-width: $medium-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__link {
  display: block;
  padding: 39px 56px 32px;
  text-align: center;
}

.main-footer__icon {
  // sometext
}

.main-footer__copyright {
  // sometext
}

.main-footer__social {
  // sometext
}
