.main-poster {
  position: relative;

  @media (min-width: $medium-width) {
    padding-bottom: 505px;
  }

  @media (min-width: $large-width) {
    padding-top: 187px;
    padding-bottom: 267px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-image: url("../img/poster/back-cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/poster/back-cat@2x.png");
    }

    @media (min-width: $medium-width) {
      display: none;
    }

    @media (min-width: $large-width) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 694px;
      background-image: url("../img/poster/back-cat-desktop.png");
      z-index: -4;

      @media (min-resolution: $retina-resolution) {
        background-image: url("../img/poster/back-cat-desktop@2x.png");
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;

    @media (min-width: $medium-width) {
      display: none;
    }

    @media (min-width: $large-width) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      min-height: 694px;
      background-color: rgba(104, 183, 56, 0.85);
      z-index: -3;
    }
  }
}

.main-poster__title {
  margin: 0;
  padding: 27px 0 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: $white-color;
  letter-spacing: -0.03em;
  text-align: center;

  @media (min-width: $medium-width) {
    width: 450px;
    padding: 0 196px 41px 90px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black-color;
    letter-spacing: -0.03em;
    text-align: start;
  }

  @media (min-width: $large-width) {
    padding-top: 36px;
    padding-left: 80px;
  }
}

.main-poster__text {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    padding: 0 190px 49px 90px;
    font-size: 20px;
    line-height: 20px;
    color: $black-color;
    letter-spacing: -0.03em;
    text-align: start;
  }

  @media (min-width: $large-width) {
    padding-left: 80px;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.main-poster__image {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  text-align: center;
  display: block;

  @media (min-width: $medium-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 200px;
    z-index: -2;
  }

  @media (min-width: $large-width) {
    top: 142px;
    left: 38.7%;
    width: 552px;
    height: 499px;
  }
}

.main-poster__button-wrapper {
  margin: 0 auto;
}

.main-poster__link {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 7px;
  padding-bottom: 5px;
  text-decoration: none;
  text-align: center;
  background-color: $green-btn;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    margin-left: 90px;
    padding: 10px;
  }

  @media (min-width: $large-width) {
    margin-left: 80px;
  }
}
