.main-logo {
  display: flex;
  position: relative;
  margin-top: 11px;
  padding-bottom: 11.5px;

  @media (min-width: $medium-width) {
    display: flex;
    margin-top: 24px;
  }

  @media (min-width: $large-width) {
    display: flex;
    margin-top: 54px;
  }
}

.main-logo__icon {
  display: block;
  text-decoration: none;
}

.main-logo__icon-image {
  padding-right: 55px;
}

.main-logo__title {
  display: block;
  padding-top: 12px;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.main-logo__title-image {
  // sometext
}
