.radio-button {
  padding: 8px 0 35px;

  @media (min-width: $medium-width) {
    padding-bottom: 81px;
  }

  @media (min-width: $large-width) {
    padding-top: 32px;
    padding-bottom: 76px;
  }
}

.radio-button__list {
  @media (min-width: $medium-width) {
    padding-left: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      min-width: 630px;
      min-height: 196px;
      top: -30px;
      left: 0;
      border: 1px solid $grey-line;
      z-index: -1;
    }
  }
}

.radio-button__item {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
}

.radio-button__control {
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 3px;
  padding-bottom: 9px;

  &:disabled + .radio-button__control-mark,
  &:disabled ~ .radio-button__control-program {
    opacity: 0.3;
  }

  @media (min-width: $medium-width) {
    padding-left: 70px;
    padding-top: 0;
    padding-bottom: 17px;
  }
}

.radio-button__control-input {
  &[type="radio"] + .radio-button__control-mark {
    border-radius: 50%;
  }

  &[type="radio"]:checked + .radio-button__control-mark::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 13.5px;
    height: 13.5px;
    background-color: $green-btn;
    border-radius: 50%;

    @media (min-width: $medium-width) {
      top: 12px;
      left: 12px;
      width: 17.5px;
      height: 17.5px;
    }
  }
}

.radio-button__control-mark {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $light-border;
  border-radius: 3px;

  @media (min-width: $medium-width) {
    top: -6px;
    left: 9px;
    width: 40px;
    height: 40px;
  }
}

.radio-button__control-input:hover + .radio-button__control-mark {
  border-color: $light-hover-border;
}

.radio-button__control-program {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
