.radio-button {
  padding: 22px 0 45px;
}

.radio-button__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radio-button__item {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.radio-button__control {
  // sometext
}

.radio-button__control-input {
  // sometext
}

.radio-button__control-mark {
  // sometext
}
