// Viewports

$large-width: 1440px;
$medium-width: 768px;
$small-width-only: 767px;

//colors

$white-color: #ffffff;
$green-btn: #68b738;
$black-color: #000000;
$grey-text: #444444;


// resolution
$retina-resolution: 2dppx;
